language: python
dist: xenial
cache: pip

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install coverage coveralls codecov
  - pip install .

script:
  - LC_ALL=en_US.UTF-8 coverage run -m unittest test

after_success:
  - coveralls
  - codecov
