name: ci
on: [push, pull_request]
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
        include:
          - os: macos-latest
            python-version: '3.13'
          # - os: windows-latest  # TODO: Fix the Windows test that runs in an infinite loop
          #   python-version: '3.13'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - run: ${{ ( startsWith( matrix.os, 'macos' ) && 'sudo -E bash add_libmagic.sh' ) || 'bash add_libmagic.sh' }}
      - run: pip install --upgrade pip
      - run: pip install --upgrade pytest
      - run: pip install --editable .
      - run: LC_ALL=en_US.UTF-8 pytest
        shell: bash
        timeout-minutes: 15  # Limit Windows infinite loop.
